{:main reveal.core, :optimizations :advanced, :externs ["externs.js"], :output-to "target\\public\\cljs-out\\prod-main.js", :output-dir "target\\public\\cljs-out\\prod", :asset-path "/cljs-out/prod", :aot-cache false}